.main-container {
  margin: 5px 400px 5px 400px;
  background-color: aquamarine;
  height: 95vh;
  padding: 10px;
}

.header {
  background-color: #4866af;
  height: 8vh;
  padding: 5px;
}

.icon-container {
  
}